#useDynLib(rangeBuilder)
#exportPattern(".+")

import(sp)
import(raster)
import(rgdal)

export(filterByProximity)
export(getAcceptedFromSynonym)
export(getAcceptedNames)
export(getDynamicAlphaHull)
export(getRepDBcountries)
export(getRepDBcountryList)
export(getRepDBSpFromCountry)
export(getSynonymsFromAccepted)
export(queryGISD)
export(synonymMatch)
export(closestCountry)
export(addRasterLegend)
export(flipSign)
export(standardizeCountry)
export(richnessRaster)
export(transparentColor)
export(filterByLand)
export(getExtentOfList)
export(coordError)
export(downloadDates)

  importFrom("grDevices", "col2rgb", "colorRampPalette", "rgb", "terrain.colors")
  importFrom("graphics", "axis", "grconvertX", "grconvertY", "par", "rect")
  importFrom("methods", "hasArg", "is", "slot", "slot<-")
  importFrom("stats", "complete.cases")
  importFrom("utils", "adist", "data", "setTxtProgressBar", "txtProgressBar")
